
.star1 {
  width: 0.3vw;
  height: 0.3vh;
  z-index: 999;
  margin: 0;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 0;
  border-radius: 50%;

  -webkit-animation: shooting 3s infinite;
  -webkit-animation-delay: 1s;
  -moz-animation:    shooting 3s infinite;
  -o-animation:      shooting 3s infinite;
  animation:         shooting 3s infinite;
}

@-webkit-keyframes shooting {
  from   { transform: translatex(-200px) translateY(0px); }
  to     { transform: translatex(0px) translateY(200px); }
}
@-moz-keyframes shooting {
  from   { transform: translatex(-200px) translateY(0px); }
  to     { transform: translatex(0px) translateY(200px); }
}
@-o-keyframes shooting {
  from   { transform: translatex(-200px) translateY(0px); }
  to     { transform: translatex(0px) translateY(200px); }
}
@keyframes shooting {
  from   { transform: translatex(-200px) translateY(0px); }
  to     { transform: translatex(0px) translateY(200px); }
}


.star2 {
  width: 0.3vw;
  height: 0.3vh;
  z-index: 999;
  margin: 0;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 0;
  border-radius: 50%;

  -webkit-animation: shooting2 4s infinite;
  -webkit-animation-delay: 4s;
  -moz-animation:    shooting2 4s infinite;
  -o-animation:      shooting2 4s infinite;
  animation:         shooting2 4s infinite;
}

@-webkit-keyframes shooting2 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}
@-moz-keyframes shooting2 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}
@-o-keyframes shooting2 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}
@keyframes shooting2 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}


.star3 {
  width: 0.3vw;
  height: 0.3vh;
  z-index: 999;
  margin: 0;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 0;
  border-radius: 50%;

  -webkit-animation: shooting3 4s infinite;
  -webkit-animation-delay: 5s;
  -moz-animation:    shooting3 4s infinite;
  -o-animation:      shooting3 4s infinite;
  animation:         shooting3 4s infinite;
}

@-webkit-keyframes shooting3 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(300px); }
}
@-moz-keyframes shooting3 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(300px); }
}
@-o-keyframes shooting3 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(300px); }
}
@keyframes shooting3 {
  from   { transform: translatex(-400px) translateY(0px); }
  to     { transform: translatex(0px) translateY(300px); }
}


.star4 {
  width: 0.3vw;
  height: 0.3vh;
  z-index: 999;
  margin: 0;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 0;
  border-radius: 50%;

  -webkit-animation: shooting4 4s infinite;
  -webkit-animation-delay: 3s;
  -moz-animation:    shooting4 4s infinite;
  -o-animation:      shooting4 4s infinite;
  animation:         shooting4 4s infinite;
}

@-webkit-keyframes shooting4 {
  from   { transform: translatex(-900px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}
@-moz-keyframes shooting4 {
  from   { transform: translatex(-900px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}
@-o-keyframes shooting4 {
  from   { transform: translatex(-900px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}
@keyframes shooting4 {
  from   { transform: translatex(-900px) translateY(0px); }
  to     { transform: translatex(0px) translateY(500px); }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .star1 {
    width: 0.5vw;
    height: 0.5vh;
    z-index: 999;
    margin: 0;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 50%;

    -webkit-animation: shooting 5s infinite;
    -webkit-animation-delay: 3s;
    -moz-animation:    shooting 5s infinite;
    -o-animation:      shooting 5s infinite;
    animation:         shooting 5s infinite;
  }

  .star2 {
    width: 0.5vw;
    height: 0.5vh;
    z-index: 999;
    margin: 0;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 50%;

    -webkit-animation: shooting2 6s infinite;
    -webkit-animation-delay: 4s;
    -moz-animation:    shooting2 6s infinite;
    -o-animation:      shooting2 6s infinite;
    animation:         shooting2 6s infinite;
  }

  .star3 {
    width: 0.5vw;
    height: 0.5vh;
    z-index: 999;
    margin: 0;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 50%;

    -webkit-animation: shooting3 5s infinite;
    -webkit-animation-delay: 5s;
    -moz-animation:    shooting3 5s infinite;
    -o-animation:      shooting3 5s infinite;
    animation:         shooting3 5s infinite;
  }


  .star4 {
    width: 0.5vw;
    height: 0.5vh;
    z-index: 999;
    margin: 0;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 50%;

    -webkit-animation: shooting4 6s infinite;
    -webkit-animation-delay: 4s;
    -moz-animation:    shooting4 6s infinite;
    -o-animation:      shooting4 6s infinite;
    animation:         shooting4 6s infinite;
  }

  @-webkit-keyframes shooting4 {
    from   { transform: translatex(-900px) translateY(0px); }
    to     { transform: translatex(0px) translateY(200px); }
  }
  @-moz-keyframes shooting4 {
    from   { transform: translatex(-900px) translateY(0px); }
    to     { transform: translatex(0px) translateY(200px); }
  }
  @-o-keyframes shooting4 {
    from   { transform: translatex(-900px) translateY(0px); }
    to     { transform: translatex(0px) translateY(200px); }
  }
  @keyframes shooting4 {
    from   { transform: translatex(-900px) translateY(0px); }
    to     { transform: translatex(0px) translateY(200px); }
  }

}
