@import "./layout.scss";
// @import "./animate.scss";

$background-color: #f7f7f7;
$inner-background-color: #e4cace;
$font-color: #525252;
$font-color-full-stack: #f7f3f3;
$link-hover: #e2c9cf;
// $color-nav-home: darksalmon;
// $color-nav-intro: lightgoldenrodyellow;
// $app-link-hover: #6292BC;
// $app-link-visited: darkseagreen;
// $font-family-google: 'Arvo', serif;
$font-family-google2:'Josefin Slab', serif;
// $font-family-google3:'Didact Gothic', sans-serif;
// $font-family-google4:'Raleway', sans-serif;
// $sakura-home: #693260;
// $sakura-intro: #a25a93;
// $sakura-edu: #986a81;
// $sakura-h1: #d229af;
// $skills-opac-background: rgba(20,41,103,0.35);
//
//
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: $background-color;
  color: $font-color;
  font-family: $font-family-google2;

}

nav {
  text-align: right;
  top: 2%;
}

nav > ul {
  width: 100%;
  // height: 50%;
  list-style: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 0;
  // position: rel;
}

nav > ul > a > li {
  // position: relative;
  // font-size: 1em;
  // text-align: right;
  margin: 0% 3%;
  // color: white;
  // font-weight: bold;
  // line-height: 3em;
  display: inline-block;
}
nav > ul > a > li:hover {
  color: $link-hover;
}
nav > ul > a:visited {
  color: $font-color;
}
nav > ul > a {
  text-decoration: none;
}

.home-sec > .name-title-div > h3, .home-sec > .inner-home-div > h1, .home-sec > .inner-home-div > h4{
  position: absolute;
  text-align: center;
}
.home-sec > .name-title-div > h3 {
  width: 100%;
  top: 20%;
}
.home-sec > .inner-home-div > h1 {
  width: 80%;
  bottom: 35%;
  color: $font-color-full-stack;
  font-size: 2em;
}
.home-sec > .inner-home-div > h4 {
  width: 80%;
  bottom: 20%;
}

.home-sec > .inner-home-div, .intro-sec > .intro-paragraph-div, .education-sec > .edu-div, .skills-sec > .skills-div {
  background-color: $inner-background-color;
}

.intro-sec > .intro-paragraph-div > h1, .education-sec > .edu-div > h1 {
  background-color: #f5efef;
  line-height: 8em;
  text-align: center;
}
.education-sec > .edu-div > h1 {
  width: 80%;
  bottom: 35%;
  margin-left: 50%;
  font-size: 1.5em;
  line-height: 8em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .home-sec > .inner-home-div > h1 {
    width: 80%;
    bottom: 30%;
    color: #f7f3f3;
    font-size: 2em;
  }
  .home-sec > .inner-home-div > h4 {
    width: 80%;
    bottom: 10%;
  }
  .intro-sec > .intro-paragraph-div > h1, .education-sec > .edu-div > h1 {
    height: 20%;
    width: 50%;
  }
  .intro-sec > .intro-paragraph-div > .p-tag1, .intro-sec > .intro-paragraph-div > .p-tag2 {
    width: 50%;
    display: inline-block;
    padding: 2% 2.5%;
    border: 1px red solid;
    margin: 0;
  }
  .intro-sec > .intro-paragraph-div > .p-tag2 {
    height: 37%;
    overflow: scroll;
  }
}

@media only screen  and (min-width : 481px) {
}

@media only screen  and (max-width : 480px) {
}

.hamburger-nav {
  position: fixed;
  width: 100%;
  background-color: rgba(212, 209, 209, 0.48);
  z-index: 1;
}
.hamburger-nav > img {
  width: 25px;
  margin: 0.5% 45%;
}
//
// .home-sec, .intro-sec, .skills-sec, .education-sec {
//   height: 100vh;
//   width: 100%;
//   position: relative;
//   // left: 8.33%;
// }
//
// .home-sec {
//   background: url("img/rsz_adrian-benea-hawaii.png") no-repeat center center;
//   background-size: cover;
// }
// .home-sec > .name-title-div {
//   margin-top: 10%;
// }
// .intro-sec {
//   background: url("img/yuki-yoshida-resized.png") no-repeat center center;
//   background-size: cover;
// }
// .skills-sec {
//   color: #5d5656;
//   background: #2c3e50; /* fallback for old browsers */
//   background: -webkit-linear-gradient(to left, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to left, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
// .education-sec {
//   color: #5d5656;
//   background: #FBD3E9; /* fallback for old browsers */
//   background: -webkit-linear-gradient(to left, #FBD3E9, #a25a93); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to left, #FBD3E9, #a25a93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
// .education-sec > .edu-div {
//   width: 80%;
//   height: 80%;
//   background: rgba(255, 255, 255, 0.29);
//   margin: 7% auto;
//   -webkit-box-shadow: -8px 11px 30px -10px black;
//   -moz-box-shadow: -8px 11px 30px -10px black;
//   box-shadow: -8px 11px 30px -10px black;
// }
// h1 {
//   font-size: 3em;
// }
// .home-sec > .name-title-div > h1 {
//   width: 40%;
//   padding-left: 10%;
//   text-shadow: -5px 2px 3px rgba(7, 7, 7, 0.6);
// }
// .home-sec > .name-title-div > h3:first-of-type {
//   padding-left: 12%;
//   font-size: 1.5em;
//   font-style: italic;
// }
// .home-sec > .name-title-div > h3:last-of-type {
//   bottom: 10%;
//   width: 100%;
//   position: absolute;
//   text-align: center;
//   font-size: 1.5em;
//   font-style: italic;
// }
// .home-sec > .name-title-div > p {
//   bottom: 5%;
//   width: 100%;
//   position: absolute;
//   text-align: center;
//   font-size: 0.8em;
//   font-style: italic;
// }
// .intro-paragraph-div {
//   background-color: rgba(146,118,118,0.7);
//   height: auto;
//   width: 60%;
//   margin: 10% auto;
// }
// .intro-sec > .intro-paragraph-div > .p-tag1, .intro-sec > .intro-paragraph-div > .p-tag2, .skills-sec > .skills-div > ul {
//   padding: 5%;
//   margin: 0;
//   font-size: 1.5em;
// }
// .skills-sec > .skills-div > ul {
//   // margin: 20% 5%;
//   float: left;
// }
// .intro-sec > .intro-paragraph-div > h1 {
//   padding-left: 5%;
//   padding-top: 5%;
//   margin: 0;
// }
// .skills-sec > .skills-div > h1 {
//   float: left;
//   margin: 0;
// }
// .skills-sec > .skills-div {
//   width: 80%;
//   height: auto;
//   margin: 10% auto;
//   color: white;
// }
// .skills-sec > .skills-div > ul {
//   list-style: none;
//   float: left;
// }
// .skills-sec > .skills-div > ul > li {
//   float: left;
//   margin: 3%;
// }
// .skills-sec > .skills-div > .skills-books {
//   width: auto;
//   position: absolute;
//   bottom: 15%;
//   left: 18%;
// }
// .skills-sec > .skills-div > .skills-books > img:first-child {
//   width: 50%;
//   text-align: center;
// }
// .education-sec > .edu-div {
//   color: #373038;
// }
// .education-sec > .edu-div > .edu-inner-div {
//   text-align: center;
//   width: 90%;
//   margin: 10% auto;
// }
// .education-sec > .edu-div > h1 {
//   margin: 0;
//   padding: 5%;
//   text-align: center;
// }
//
// // ********************************
//
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// /* Styles */
//   .hamburger-nav {
//     display: inline-block;
//     position: fixed;
//     width: 45px;
//     right: 10%;
//     top: 5%;
//     z-index: 1;
//   }
//   .hamburger-nav > img {
//     float: right;
//     width: 40px;
//   }
//   nav.nav-app-mode {
//     width: 100%;
//     height: auto;
//     z-index: 1;
//   }
//   nav.nav-app-mode > ul > a > li {
//     height: 16%;
//     text-align: center;
//     line-height: 5;
//     color: white;
//     z-index: 1;
//   }
//   nav.nav-app-mode > ul > a > li:focus {
//     background-color: rgba(229, 198, 232, 0.83);
//     margin: 0;
//   }
//   nav > ul {
//     width: 100%;
//     height: 100%;
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     background-color: rgba(8, 8, 8, 0.95);
//   }
//   .home-sec, .intro-sec, .skills-sec, .education-sec {
//     height: 100vh;
//     position: relative;
//     width: 100%;
//     left: 0;
//   }
//   .home-sec > .name-title-div > h1 {
//     margin-top: 10%;
//   }
//   .home-sec > .name-title-div > h3 {
//     color: $sakura-h1;
//   }
//   .intro-paragraph-div {
//     background-color: rgba(146, 118, 118, 0.7);
//     height: 95%;
//     width: 80%;
//     margin: 5% auto;
//   }
//   .intro-sec > .intro-paragraph-div > h1 {
//     padding-left: 5%;
//     padding-top: 5%;
//     margin: 0;
//     font-size: 2em;
//     color: $sakura-home;
//   }
//   .intro-sec > .intro-paragraph-div > .p-tag1 {
//     padding: 5%;
//     margin: 0;
//     font-size: 1.2em;
//     overflow: scroll;
//     height: 25%;
//   }
//   .intro-sec > .intro-paragraph-div > .p-tag2 {
//     padding: 5%;
//     margin: 0;
//     font-size: 1.2em;
//     overflow: scroll;
//     height: 54%;
//   }
//   .education-sec {
//     color: #5d5656;
//     background: #FBD3E9; /* fallback for old browsers */
//     background: -webkit-linear-gradient(to left, #FBD3E9, #a25a93); /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to left, #FBD3E9, #a25a93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   }
//   .education-sec > .edu-div {
//     width: 80%;
//     height: 80%;
//     background: rgba(255, 255, 255, 0.29);
//     margin: 19% auto;
//   }
//   .education-sec > .edu-div > h1 {
//     padding-left: 15%;
//     padding-top: 20%;
//     margin: 0;
//     font-size: 2em;
//     padding-bottom: 5%;
//   }
//   .education-sec > .edu-div > .edu-inner-div {
//     text-align: center;
//     width: 90%;
//     margin: 5% 5%;
//   }
//   .education-sec > .edu-div > .edu-inner-div > h3 {
//     color: $sakura-h1;
//   }
//   .skills-sec > .skills-div > h1 {
//     font-size: 2em;
//     color: $sakura-intro;
//   }
//   .skills-sec .skills-div {
//     width: 90%;
//     height: 80%;
//     margin: 5% 5%;
//   }
//   .skills-sec > .skills-div > .skills-books {
//     width: auto;
//     position: absolute;
//     bottom: 3%;
//     left: 18%;
//   }
// }
//
//
// @media only screen  and (min-width : 481px) {
// /* Styles */
//   nav {
//     position: fixed;
//     height: 2%;
//     width: 100%;
//     z-index: 1;
//     text-align: right;
//     background-color: rgba(4, 4, 4, 0.37);
//     top: 2%;
//   }
// }
//
// @media only screen  and (max-width : 480px) {
//   /* Styles */
//   .hamburger-nav {
//     display: inline-block;
//     position: fixed;
//     width: 45px;
//     right: 10%;
//     top: 5%;
//     z-index: 2;
//   }
//   .hamburger-nav > img {
//     float: right;
//     width: 40px;
//   }
//   nav.nav-app-mode {
//     width: 100%;
//     height: auto;
//     z-index: 1;
//   }
//   nav.nav-app-mode > ul > a > li {
//     height: 16%;
//     width: 100%;
//     text-align: center;
//     line-height: 5;
//     color: white;
//     z-index: 1;
//     font-size: 1.3em;
//   }
//   nav.nav-app-mode > ul > a > li:hover {
//     background-color: rgba(229, 198, 232, 0.83);
//     margin: 0;
//   }
//   nav > ul {
//     width: 100%;
//     height: 100%;
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     background-color: rgba(8, 8, 8, 0.95);
//   }
//   .home-sec, .intro-sec, .skills-sec, .education-sec {
//     height: 100vh;
//     position: relative;
//     width: 100%;
//     left: 0;
//   }
//   .home-sec > .name-title-div > h1 {
//     margin-top: 10%;
//   }
//   .home-sec > .name-title-div > h3 {
//     color: white;
//   }
//   .intro-paragraph-div {
//     background-color: rgba(146, 118, 118, 0.7);
//     height: 80%;
//     width: 80%;
//     margin: 18% auto;
//   }
//   .intro-sec > .intro-paragraph-div > h1 {
//     padding-left: 5%;
//     padding-top: 5%;
//     margin: 0;
//     font-size: 2em;
//     color: $sakura-home;
//   }
//   .intro-sec > .intro-paragraph-div > .p-tag1 {
//     padding: 5%;
//     margin: 0;
//     font-size: 1.2em;
//     overflow: scroll;
//     height: 25%;
//   }
//   .intro-sec > .intro-paragraph-div > .p-tag2 {
//     padding: 5%;
//     margin: 0;
//     font-size: 1.2em;
//     overflow: scroll;
//     height: 54%;
//   }
//   .education-sec {
//     color: #5d5656;
//     background: #FBD3E9; /* fallback for old browsers */
//     background: -webkit-linear-gradient(to left, #FBD3E9, #a25a93); /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to left, #FBD3E9, #a25a93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   }
//   .education-sec > .edu-div {
//     width: 80%;
//     height: 80%;
//     background: rgba(255, 255, 255, 0.29);
//     margin: 19% auto;
//   }
//   .education-sec > .edu-div > h1 {
//     padding-left: 15%;
//     padding-top: 20%;
//     margin: 0;
//     font-size: 2em;
//     padding-bottom: 5%;
//   }
//   .education-sec > .edu-div > .edu-inner-div {
//     text-align: center;
//     width: 90%;
//     margin: 5% 5%;
//   }
//   .education-sec > .edu-div > .edu-inner-div > h3 {
//     color: #373038;
//   }
//   .skills-sec > .skills-div > h1 {
//     font-size: 2em;
//     color: $sakura-intro;
//   }
//   .skills-sec .skills-div {
//     width: 90%;
//     height: 80%;
//     margin: 20% 5%;
//     box-shadow: 10px 13px 18px -1px rgba(0, 0, 0, 0.38);
//   }
//   .skills-sec > .skills-div > .skills-books {
//     width: auto;
//     bottom: 10%;
//     position: absolute;
//     text-align: center;
//     left: 5%;
//   }
// }
