@import "./layout.scss";


$color-nav-home: darksalmon;
$color-nav-intro: lightgoldenrodyellow;
$app-link-hover: #6292BC;
$app-link-visited: darkseagreen;
$font-family-google: 'Arvo', serif;
$font-family-google2:'Josefin Slab', serif;
$font-family-google3:'Didact Gothic', sans-serif;
$font-family-google4:'Raleway', sans-serif;
$sakura-home: #693260;
$sakura-intro: #a25a93;
$sakura-edu: #986a81;
$sakura-h1: #d229af;
$skills-opac-background: rgba(20,41,103,0.35);

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
  font-family: $font-family-google2;
}

nav {
  position: fixed;
  height: 100%;
  // display: inline-block;
}

nav > ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #212D40;
}

nav > ul > a > li {
  height: 16%;
  text-align: center;
  line-height: 5;
  color: white;
}

nav > ul > a > li[class=home-nav] {
    // background-color: #11151C;
    background-color: $sakura-home;
}
nav > ul > a > li[class=intro-nav] {
    // background-color: #212D40;
    background-color: $sakura-intro;
}
nav > ul > a > li[class=edu-nav] {
    // background-color: #364156;
    background-color: $sakura-edu;
}
nav > ul > a > li[class=skills-nav] {
    // background-color: #212D40;
    background-color: $sakura-home;
}
nav > ul > a > li[class=git-nav] {
    // background-color: #364156;
    background-color: $sakura-intro;
}
nav > ul > a > li[class=code-nav] {
        // background-color: #11151C;
        background-color: $sakura-edu;
}

nav > ul > a {
  text-decoration: none;
}

.hamburger-nav {
  display: none;
  position: fixed;
  width: 100%;
  float: left;
  z-index: 1;
}
.hamburger-nav > img {
  float: right;
  width: 50px;
  margin: 2%;
}

.home-sec, .intro-sec, .skills-sec, .education-sec {
  height: 100vh;
  position: relative;
  left: 8.33%;
}

.home-sec {
  background: url("img/rsz_adrian-benea-hawaii.png") no-repeat center center;
  background-size: cover;
}
.intro-sec {
  background: url("img/yuki-yoshida-resized.png") no-repeat center center;
  background-size: cover;
}
.skills-sec {
  background: url("img/rsz-roberto-nickson.png") no-repeat center center;
  background-size: cover;
}
.education-sec {
  background: url("img/alejandro-escamilla-6-mac.png") no-repeat center center;
  background-size: cover;
}
h1 {
  font-size: 3em;
}

.home-sec > .name-title-div > h1 {
  width: 40%;
  padding-left: 10%;
  text-shadow: -5px 2px 3px rgba(7, 7, 7, 0.6);

  -webkit-box-shadow: -8px 11px 30px -10px rgba(255,255,255,1);
  -moz-box-shadow: -8px 11px 30px -10px rgba(255,255,255,1);
  box-shadow: -8px 11px 30px -10px rgba(255,255,255,1);
}
.home-sec > .name-title-div > h3:first-of-type {
  padding-left: 12%;
  font-size: 1.5em;
  font-style: italic;
}
.home-sec > .name-title-div > h3:last-of-type {
  bottom: 10%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.intro-paragraph-div {
  background-color: rgba(146,118,118,0.7);
  height: auto;
  width: 60%;
  margin: 5% auto;
}
.intro-sec > .intro-paragraph-div > .p-tag1, .intro-sec > .intro-paragraph-div > .p-tag2, .skills-sec > .skills-div > ul {
  padding: 5%;
  margin: 0;
  font-size: 1.5em;
}

.intro-sec > .intro-paragraph-div > h1, .skills-sec > .skills-div > h1 {
  padding-left: 5%;
  padding-top: 5%;
  margin: 0;
}

.skills-sec > .skills-div {
  width: 65%;
  height: auto;
  margin: 5% 5% auto auto;
  float: right;
  background-color: $skills-opac-background;
  -webkit-box-shadow: 10px 13px 18px -1px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 13px 18px -1px rgba(0,0,0,0.33);
  box-shadow: 10px 13px 18px -1px rgba(0,0,0,0.33);
}
.skills-sec > .skills-div > ul {
  list-style: none;
}
.skills-sec > .skills-div > ul > li {
  float: left;
  margin: 5%;
}

// .education-sec > .edu-div {
//   width: auto;
//   height: 80%;
//   border: 1px blue solid;
// }
.education-sec > .edu-inner-div {
  text-align: center;
  width: 90%;
  margin: 2.5% 0 2.5% 0;
  // border: 1px red solid;
}
.education-sec > h1 {
  padding-left: 4%;
}

// ********************************

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .hamburger-nav {
    display: inline-block;
    position: fixed;
    width: 45px;
    right: 10%;
    top: 5%;
    z-index: 1;
  }
  .hamburger-nav > img {
    float: right;
    width: 40px;
  }
  nav.nav-app-mode {
    width: 100%;
    height: auto;
    z-index: 1;
  }
  nav.nav-app-mode > ul > a > li {
    height: 16%;
    text-align: center;
    line-height: 5;
    color: white;
    z-index: 1;
  }

  .home-sec, .intro-sec, .skills-sec, .education-sec {
    height: 100vh;
    position: relative;
    width: 100%;
    left: 0;
  }
  .home-sec > .name-title-div > h1 {
    margin-top: 10%;
  }
  .home-sec > .name-title-div > h3 {
    color: $sakura-h1;
  }
  .intro-paragraph-div {
    background-color: rgba(146, 118, 118, 0.7);
    height: 95%;
    width: 80%;
    margin: 5% auto;
  }
  .intro-sec > .intro-paragraph-div > h1 {
    padding-left: 5%;
    padding-top: 5%;
    margin: 0;
    font-size: 2em;
    color: $sakura-home;
  }
  .intro-sec > .intro-paragraph-div > .p-tag1 {
    padding: 5%;
    margin: 0;
    font-size: 1.2em;
    overflow: scroll;
    height: 25%;
  }
  .intro-sec > .intro-paragraph-div > .p-tag2 {
    padding: 5%;
    margin: 0;
    font-size: 1.2em;
    overflow: scroll;
    height: 54%;
  }
  .education-sec {
    background-image: none;
  }
  .education-sec > h1 {
    padding-left: 15%;
    padding-top: 20%;
    margin: 0;
    font-size: 2em;
    padding-bottom: 5%;
  }
  .education-sec > .edu-inner-div {
    text-align: center;
    width: 90%;
    margin: 5% 5%;
  }
  .education-sec > .edu-inner-div > h3 {
    color: $sakura-h1;
  }
  .skills-sec > .skills-div > h1 {
    font-size: 2em;
    color: $sakura-intro;
  }
  .skills-sec .skills-div {
    width: 90%;
    height: 95%;
    margin: 5% 5%;
    background-color: rgba(20, 41, 103, 0.38);
    -webkit-box-shadow: 10px 13px 18px -1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 10px 13px 18px -1px rgba(0, 0, 0, 0.38);
    box-shadow: 10px 13px 18px -1px rgba(0, 0, 0, 0.38);
  }

}


@media only screen  and (min-width : 481px) {
/* Styles */
  nav {
    position: fixed;
    height: 100%;
    width: 8.33%;
    // display: inline-block;
  }
}
