@import "./animation.scss";
$app-font-color: #333333;
$app-background-color: white;
$main-font: 'Alice', serif;
$box-background-color: rgba(250,250,255,0.3);
$app-shadow-color: rgba(7,7,7,0.4);
$app-h1-intro-color: lightgoldenrodyellow;
$app-link-visited: #6292BC;

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: $app-background-color;
  color: $app-font-color;
  font-family: $main-font;
}

main {
  width: 100%;
  position: absolute;
  height: auto;

}

nav {
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

nav > ul {
  position: relative;
  max-width: 100%;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav > ul > li {
  display: inline-block;
  margin-right: 3%;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

a:link {
  color: white;
}

a:visited {
  color: $app-link-visited;
}

a:hover {
  color: $app-h1-intro-color;
}
.intro-sec > div > h1 , .intro-sec > div > h3 {
  top: 45%;
  position: relative;
  margin: 0;
  width: 100%;
  color: $app-h1-intro-color;
  text-shadow: 8px 5px 3px $app-shadow-color;
}

.intro-sec > div > h3 {
  text-align: center;
  font-style: italic;
  top: 55%;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin: 10% auto;
}


.intro-sec {
  height: 50em;
  position: relative;
}

.intro-sec > .intro-img-div {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}

.intro-sec > .name-title-div {
    background: url("img/mfnbfaciu1i-patrick-schneider.png") no-repeat center center fixed;
    position: absolute;
    width: 100%;
    height: 25em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-sec > .intro-paragraph-div {
  position: absolute;
  bottom: 2%;
}
.intro-sec > div > p:first-child {
  margin: 5%;
  text-align: center;
  position: relative;
  overflow: auto;
  height: 100px;
}
.intro-sec > div > p:last-child {
  margin: 5%;
  text-align: center;
  position: relative;
  overflow: auto;
  height: 150px;
}

img {
  max-width: 100%;
}

.education-sec,  {
  width: 100%;
  border-width:5px;
  border-style:outset;
  height: 50em;
}

.skills-sec {
  height: auto;
}

.inner-edu-sec {
  width: 100%;
  height: 50%;
  text-align: center;
  margin: 0% auto;
  position: relative;
}

.edu-div {
  display: inline-block;
  position: relative;
  max-width: 40%;
  margin: 0 auto;
}

.edu-p-tag {
  position: relative;
  font-size: 1em;
  height: 5em;
  padding: 0 5%;
}

.education-sec > section > div > h3, .skills-sec {
  position: relative;
}

.intro-sec > .name-title-div > a {
  display: inline-block;
  width: 100%;
  position: absolute;
  height: auto;
  margin: 0 auto;
  bottom: 0%;
}

.book-img-div {
  width: 25%;
  position: relative;
  margin: 2% 2% 2% 75%;
  box-shadow:7px 7px 5px $app-shadow-color;
}



.skills-sec > ul {
  text-align: center;
  position: relative;
  width: 90%;
  padding: 0 5% 0 5%;
  list-style: none;
  display: inline-block;
}

.skills-sec > ul > li {
  display: inline-block;
  margin: 5%;
}


.intro-sec > div > span, .intro-sec > div > i {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1em;
}

.intro-sec > div >  i {
  top: 70%;
}

.next-button-div {
  max-width: 2em;
  text-align: center;
  margin: 0 50%;
  color: black;
  position: absolute;
  bottom: 3%;
  color: $app-link-visited;
}

.next-button-div2 {
  width: 2em;
  text-align: center;
  margin: 0 auto;
  color: black;
  height: 3em;
  position: relative;
  top: 10%;
  color: $app-link-visited;
}


@media (max-width: 374px) {
  nav > ul {
    position: relative;
    max-width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .book-img-div {
    width: 65%;
    position: relative;;
    margin: 0 auto;
    box-shadow: 7px 7px 5px rgba(7, 7, 7, 0.4);
  }

  .intro-sec {
    height: 45em;
    position: relative;
  }
}

@media (min-width: 1070px) {
  .intro-sec > .intro-paragraph-div {
    position: absolute;
    top: 50%;
  }

  .next-button-div2 {
    width: 2em;
    text-align: center;
    margin: 0 auto;
    color: black;
    height: 3em;
    position: relative;
    top: 0;
    color: $app-link-visited;
  }
}
