@import "./animation.scss";
$app-font-color: #333333;
$app-background-color: white;
$main-font: 'Alice', serif;
$box-background-color: rgba(250,250,255,0.3);
$app-shadow-color: rgba(7,7,7,0.4);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $app-background-color;
  color: $app-font-color;
  font-family: $main-font;
}

main {
  width: 100%;
  position: absolute;
  height: 40em;

}

nav {
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

nav > ul {
  position: relative;
  max-width: 100%;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav > ul > li {
  display: inline-block;
  margin-right: 3%;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

a:link {
  color: white;
}

a:visited {
  color: lightsteelblue;
}

.intro-sec > div > h1 , .intro-sec > div > h3 {
  top: 45%;
  position: absolute;
  margin: 0;
  width: 100%;
  text-shadow: 8px 5px 3px $app-shadow-color;
}

.intro-sec > div > h3 {
  text-align: center;
  font-style: italic;
  top: 55%;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin: 8% 0 5% 0;
}


.intro-sec {
  height: 45em;
}

.intro-sec > div {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}

.intro-sec > div > p {
  margin: 5%;
  text-align: center;
}
img {
  max-width: 100%;
}

.education-sec, .skills-sec {
  width: 100%;
  height: 40em;
  // background-color: black;
  border-width:5px;
  border-style:outset;
}

.inner-edu-sec {
  width: 100%;
  height: 76%;
  text-align: center;
  padding-top: 5%;
}

.edu-div {
  display: inline-block;
  position: relative;
  max-width: 493px;
  margin: 0 auto;
}

.edu-p-tag {
  position: relative;
  font-size: 1em;
  height: 5em;
  padding: 0 5%;
}

.education-sec > section > div > h3, .skills-sec {
  position: relative;
}


.book-img-div {
  width: 20%;
  position: absolute;
  right: 2%;
  bottom: 2%;
  box-shadow:7px 7px 5px $app-shadow-color;
}

.skills-sec > ul {
  text-align: center;
  position: relative;
  width: 90%;
  padding: 0 5% 0 5%;
  list-style: none;
  display: inline-block;
}

.skills-sec > ul > li {
  display: inline-block;
  margin: 5%;
}
