@import "./layout.scss";
@import "./animate.scss";

$color-nav-home: darksalmon;
$color-nav-intro: lightgoldenrodyellow;
$app-link-hover: #6292BC;
$app-link-visited: darkseagreen;
$font-family-google: 'Arvo', serif;
$font-family-google2:'Josefin Slab', serif;
$font-family-google3:'Didact Gothic', sans-serif;
$font-family-google4:'Raleway', sans-serif;
$sakura-home: #693260;
$sakura-intro: #a25a93;
$sakura-edu: #986a81;
$sakura-h1: #d229af;
$skills-opac-background: rgba(20,41,103,0.35);

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
  font-family: $font-family-google2;
}

nav {
  position: fixed;
  height: 100%;
  // display: inline-block;
}

nav > ul {
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 1% 0;
}

nav > ul > a > li {
  font-size: 1em;
  text-align: right;
  margin: 1% 3%;
  color: #f0a3f5;
  font-weight: bold;
  display: inline-block;
}

nav > ul > a {
  text-decoration: none;
}

.hamburger-nav {
  display: none;
  position: fixed;
  width: 100%;
  float: left;
  z-index: 1;
}
.hamburger-nav > img {
  float: right;
  width: 50px;
  margin: 2%;
}

.home-sec, .intro-sec, .skills-sec, .education-sec {
  height: 100vh;
  width: 100%;
  position: relative;
  // left: 8.33%;
}

.home-sec {
  background: url("img/rsz_adrian-benea-hawaii.png") no-repeat center center;
  background-size: cover;
}
.home-sec > .name-title-div {
  margin-top: 10%;
}
.intro-sec {
  background: url("img/yuki-yoshida-resized.png") no-repeat center center;
  background-size: cover;
}
.skills-sec {
  // background: url("img/rsz-roberto-nickson.png") no-repeat center center;
  // background-size: cover;
  color: #5d5656;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.education-sec {
  // background: url("img/alejandro-escamilla-6-mac.png") no-repeat center center;
  // background-size: cover;
  color: #5d5656;
  background: #FBD3E9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FBD3E9, #a25a93); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FBD3E9, #a25a93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.education-sec > .edu-div {
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.29);
  margin: 10% auto;

  -webkit-box-shadow: -8px 11px 30px -10px black;
  -moz-box-shadow: -8px 11px 30px -10px black;
  box-shadow: -8px 11px 30px -10px black;
}
h1 {
  font-size: 3em;
}

.home-sec > .name-title-div > h1 {
  width: 40%;
  padding-left: 10%;
  text-shadow: -5px 2px 3px rgba(7, 7, 7, 0.6);
}
.home-sec > .name-title-div > h3:first-of-type {
  padding-left: 12%;
  font-size: 1.5em;
  font-style: italic;
}
.home-sec > .name-title-div > h3:last-of-type {
  bottom: 10%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.home-sec > .name-title-div > p {
  bottom: 5%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}
.intro-paragraph-div {
  background-color: rgba(146,118,118,0.7);
  height: auto;
  width: 60%;
  margin: 10% auto;
}
.intro-sec > .intro-paragraph-div > .p-tag1, .intro-sec > .intro-paragraph-div > .p-tag2, .skills-sec > .skills-div > ul {
  padding: 5%;
  margin: 0;
  font-size: 1.5em;
}
.skills-sec > .skills-div > ul {
  // margin: 20% 5%;
  float: left;
}
.intro-sec > .intro-paragraph-div > h1 {
  padding-left: 5%;
  padding-top: 5%;
  margin: 0;
}
.skills-sec > .skills-div > h1 {
  float: left;
  margin: 0;
}
.skills-sec > .skills-div {
  width: 80%;
  height: auto;
  margin: 10% auto;
  color: white;
}
.skills-sec > .skills-div > ul {
  list-style: none;
  float: left;
}
.skills-sec > .skills-div > ul > li {
  float: left;
  margin: 3%;
}
.skills-sec > .skills-div > .skills-books {
  // float: left;
  // height: auto;
  width: auto;
  position: absolute;
  bottom: 15%;
  left: 18%;
}
.skills-sec > .skills-div > .skills-books > img:first-child {
  width: 50%;
  text-align: center;
}
.education-sec > .edu-div {
  color: #373038;
}
.education-sec > .edu-div > .edu-inner-div {
  text-align: center;
  width: 90%;
  margin: 10% auto;
  // border: 1px red solid;
}
.education-sec > .edu-div > h1 {
  margin: 0;
  padding: 5%;
  text-align: center;
}

// ********************************

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .hamburger-nav {
    display: inline-block;
    position: fixed;
    width: 45px;
    right: 10%;
    top: 5%;
    z-index: 1;
  }
  .hamburger-nav > img {
    float: right;
    width: 40px;
  }
  nav.nav-app-mode {
    width: 100%;
    height: auto;
    z-index: 1;
  }
  nav.nav-app-mode > ul > a > li {
    height: 16%;
    text-align: center;
    line-height: 5;
    color: white;
    z-index: 1;
  }
  nav > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(8, 8, 8, 0.95);
  }
  .home-sec, .intro-sec, .skills-sec, .education-sec {
    height: 100vh;
    position: relative;
    width: 100%;
    left: 0;
  }
  .home-sec > .name-title-div > h1 {
    margin-top: 10%;
  }
  .home-sec > .name-title-div > h3 {
    color: $sakura-h1;
  }
  .intro-paragraph-div {
    background-color: rgba(146, 118, 118, 0.7);
    height: 95%;
    width: 80%;
    margin: 5% auto;
  }
  .intro-sec > .intro-paragraph-div > h1 {
    padding-left: 5%;
    padding-top: 5%;
    margin: 0;
    font-size: 2em;
    color: $sakura-home;
  }
  .intro-sec > .intro-paragraph-div > .p-tag1 {
    padding: 5%;
    margin: 0;
    font-size: 1.2em;
    overflow: scroll;
    height: 25%;
  }
  .intro-sec > .intro-paragraph-div > .p-tag2 {
    padding: 5%;
    margin: 0;
    font-size: 1.2em;
    overflow: scroll;
    height: 54%;
  }
  .education-sec {
    color: #5d5656;
    background: #FBD3E9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FBD3E9, #a25a93); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FBD3E9, #a25a93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .education-sec > .edu-div {
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.29);
    margin: 19% auto;
  }
  .education-sec > .edu-div > h1 {
    padding-left: 15%;
    padding-top: 20%;
    margin: 0;
    font-size: 2em;
    padding-bottom: 5%;
  }
  .education-sec > .edu-div > .edu-inner-div {
    text-align: center;
    width: 90%;
    margin: 5% 5%;
  }
  .education-sec > .edu-div > .edu-inner-div > h3 {
    color: $sakura-h1;
  }
  .skills-sec > .skills-div > h1 {
    font-size: 2em;
    color: $sakura-intro;
  }
  .skills-sec .skills-div {
    width: 90%;
    height: 80%;
    margin: 5% 5%;
  }
  .skills-sec > .skills-div > .skills-books {
    width: auto;
    position: absolute;
    bottom: 3%;
    left: 18%;
  }
}


@media only screen  and (min-width : 481px) {
/* Styles */
  nav {
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: right;
    background-color: rgba(4, 4, 4, 0.37);
  }
}

@media only screen  and (max-width : 480px) {
  /* Styles */
  .hamburger-nav {
    display: inline-block;
    position: fixed;
    width: 45px;
    right: 10%;
    top: 5%;
    z-index: 1;
  }
  .hamburger-nav > img {
    float: right;
    width: 40px;
  }
  nav.nav-app-mode {
    width: 100%;
    height: auto;
    z-index: 1;
  }
  nav.nav-app-mode > ul > a > li {
    height: 16%;
    width: 100%;
    text-align: center;
    line-height: 5;
    color: white;
    z-index: 1;
    font-size: 1.3em;
  }
  nav > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(8, 8, 8, 0.95);
  }
  .home-sec, .intro-sec, .skills-sec, .education-sec {
    height: 100vh;
    position: relative;
    width: 100%;
    left: 0;
  }
  .home-sec > .name-title-div > h1 {
    margin-top: 10%;
  }
  .home-sec > .name-title-div > h3 {
    color: white;
  }
  .intro-paragraph-div {
    background-color: rgba(146, 118, 118, 0.7);
    height: 80%;
    width: 80%;
    margin: 18% auto;
  }
  .intro-sec > .intro-paragraph-div > h1 {
    padding-left: 5%;
    padding-top: 5%;
    margin: 0;
    font-size: 2em;
    color: $sakura-home;
  }
  .intro-sec > .intro-paragraph-div > .p-tag1 {
    padding: 5%;
    margin: 0;
    font-size: 1.2em;
    overflow: scroll;
    height: 25%;
  }
  .intro-sec > .intro-paragraph-div > .p-tag2 {
    padding: 5%;
    margin: 0;
    font-size: 1.2em;
    overflow: scroll;
    height: 54%;
  }
  .education-sec {
    color: #5d5656;
    background: #FBD3E9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FBD3E9, #a25a93); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FBD3E9, #a25a93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .education-sec > .edu-div {
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.29);
    margin: 19% auto;
  }
  .education-sec > .edu-div > h1 {
    padding-left: 15%;
    padding-top: 20%;
    margin: 0;
    font-size: 2em;
    padding-bottom: 5%;
  }
  .education-sec > .edu-div > .edu-inner-div {
    text-align: center;
    width: 90%;
    margin: 5% 5%;
  }
  .education-sec > .edu-div > .edu-inner-div > h3 {
    color: #373038;
  }
  .skills-sec > .skills-div > h1 {
    font-size: 2em;
    color: $sakura-intro;
  }
  .skills-sec .skills-div {
    width: 90%;
    height: 80%;
    margin: 20% 5%;
    box-shadow: 10px 13px 18px -1px rgba(0, 0, 0, 0.38);
  }
  .skills-sec > .skills-div > .skills-books {
    width: auto;
    bottom: 10%;
    position: absolute;
    text-align: center;
    left: 5%;
  }
}
