$app-font-color: #333333;
$app-background-color: white;
$main-font: 'Roboto', sans-serif;
$box-background-color: rgba(250,250,255,0.3);
body {
  background-color: $app-background-color;
  color: $app-font-color;
  font-family: $main-font;
}

main {
  position: absolute;
  height: 50em;
}

nav {
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

ul {
  position: relative;
  max-width: 100%;
  padding: 0;
  list-style: none;
  text-align: right;
}

li {
  display: inline-block;
  margin-right: 3%;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 10% 0;
}

p {
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 1;
  font-size: 1.5em;
  right: 0;
  max-width: 90%;
  bottom: 10%;
  background-color: rgba(250,250,255,0.5);
  padding: 5%
}

.intro-sec {
  // padding: 0 5% 5% 5%;
}

.intro-sec > div {
  position: relative;
  width: 100%;
}

img {
  max-width: 100%;
}

.education-sec, .skills-sec {
  width: 100%;
  height: 50em;
  // background-color: black;
  border-width:5px;
  border-style:outset;

}

.inner-edu-sec {
  width: 100%;
  height: 76%;
  text-align: center;
  padding-top: 5%;
}

.edu-div {
  display: inline-block;
  position: relative;
  width: 40%;
  margin: 0 auto;
}

.edu-p-tag {
  position: relative;
  font-size: 1em;
  height: 5em;
}

h3, .skills-sec {
  position: relative;
}



.book-img-div {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}
