// $app-lamp-cover: rgb(254,210,157);
// $app-lamp-bulb: rgb(253,253,253);
//
// .make-it-bigger.ng-enter {
//
// }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    // padding: 15px;
    // border: 1px solid red;
}
nav {
  width: 100%;
  height: 2.5%;
  position: fixed;
  z-index: 1;
}
h1 {
  margin: 0;
}
.home-sec, .intro-sec, .education-sec, .skills-sec {
  width: 100%;
  height: 100vh;
  // border: 1px black solid; //border remove
}
.inner-home-div {
  width: 50%;
}
.home-sec > .name-title-div {
  width: 100%;
  height: 50%;
}
.home-sec > .inner-home-div {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}
.intro-sec > .intro-paragraph-div, .education-sec > .edu-div, .skills-sec > .skills-div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.intro-sec > .intro-paragraph-div > h1 {
  height: 20%;
  width: 35%;
}
.intro-sec > .intro-paragraph-div > .img-box1 {
  width: 40%;
  height: 10%;
  display: inline-block;
  // border: 1px red solid;//remove later
}
.intro-sec > .intro-paragraph-div > .p-tag1, .intro-sec > .intro-paragraph-div > .p-tag2 {
  width: 50%;
  display: inline-block;
  padding: 5% 2.5%;
  // border: 1px red solid;//remove later
}
.intro-sec > .intro-paragraph-div > .img-box2 {
  width: 40%;
  height: 10%;
  display: inline-block;
  // border: 1px red solid;//remove later
}
.education-sec > .edu-div > .edu-inner-div {
  height: 30%;
}
@media only screen  and (max-width : 480px) {
  .education-sec > .edu-div {
    width: 80%;
    height: 90%;
    margin: 0 auto;
  }
  .skills-sec > .skills-div {
    width: 80%;
    height: 80%;
    margin: 30% auto 0 auto;
  }
  .macbook-img, .study-img {
    width: 100%;
  }

}
// .intro-sec > .intro-paragraph-div > .p-tag2 {
//   width: 50%;
//   padding: 5% 2.5%;
//   display: inline-block;
//   border: 1px red solid;//remove later
// }
