<section id="education" class="education-sec">
<h1>Education</h1>
  <section class="inner-edu-sec">
    <div class="edu-div">
      <h3>Code Fellows | Seattle, WA</h3>
      <p class="edu-p-tag">Certificate in Advanced Full-Stack JavaScript Development, May 2016</p>
    </div>
    <div class="edu-div">
      <h3>Brigham Young University | Laie, HI</h3>
      <p class="edu-p-tag">Bachelor of Arts in Hospitality Management, May 2008</p>
    </div>
  </section>
  <div ng-click="jumpToSkills()" class="next-button-div2"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
</section>
