<section id="education" class="education-sec col-11">
  <div class="edu-div">
    <h1 class="edu-h1">Education</h1>
    <div class="edu-inner-div">
      <h3>Code Fellows | Seattle, WA | May 2016</h3>
      <p class="edu-p-tag">Certificate in Advanced Full-Stack JavaScript Development</p>
      <div><img ng-src="{{cfLogo}}" alt="Code Fellows Logo"></div>
    </div>
    <div class="edu-inner-div">
      <h3>Brigham Young University | Laie, HI | May 2008</h3>
      <p class="edu-p-tag">Bachelor of Arts in Hospitality Management</p>
      <div><img ng-src="{{byuhLogo}}" alt="BYU-H Logo"></div>
    </div>
  </div>
  <div class="study-img">
    <img class="study" ng-src="{{studyImg}}" alt="Macbook and books Image">
  </div>
</section>
