<section class="intro-sec" id="home">
  <div class="name-title-div">
    <h1 ng-class="make-it-bigger">Sawako Ishida</h1>
    <h3>Full-Stack JavaScript Developer</h3>
    </span>
  </div>
  <div class="intro-paragraph-div">
    <p>Passionate and goal-oriented Full-Stack Software Developer with background in marketing. Having strong interpersonal skills, capable of ramping up quickly to new tools and technologies.</p>
    <p class="p-tag2">My passion in life is coding, cooking and traveling. In 2015, I decided to move from Hawaii to Seattle with the idea in mind that I would go back to school for programming. That was the best decision I had ever made! A year later, I am a programmer, and I am capable of solving problems for others, possibly contributing my skills and time to people who need help. I love the creativity side of programming as well. When I have an idea to create a logo or a web app, I can do so in no time!</p>
    <div ng-click="jumpToEducation()" class="next-button-div"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
  </div>
</section>
