<section class="home-sec col-11" id="home">
  <div class="name-title-div">
    <h3>Sawako Ishida</h3>
  </div>
  <div class="inner-home-div">
    <h1>Full-Stack JavaScript Developer</h4>
    <h4> Japan to Hawaii to Seattle, career change in tech</h4>
  </div>
</section>
<section class="intro-sec col-11" id="intro">
  <div class="intro-paragraph-div">
    <h1 class="introp-h1">Introduction</h1>
    <div class="img-box1"></div>
    <p class="p-tag1"><strong class="strong1">Passionate</Strong> and goal-oriented Full-Stack Software Developer with background in marketing. Having strong interpersonal skills, capable of ramping up quickly to new tools and technologies.</p>
    <p class="p-tag2"><strong class="strong2">My</strong> passion in life is coding, cooking and traveling. In 2015, I decided to move from Hawaii to Seattle with the idea in mind that I would go back to school for programming. That was the best decision I had ever made! A year later, I am a programmer, and I am capable of solving problems for others, possibly contributing my skills and time to people who need help. I love the creativity side of programming as well. When I have an idea to create a logo or a web app, I can do so in no time!</p>
    <div class="img-box2"></div>
  </div>
</section>
