<section class="intro-sec">
  <div>
    <img ng-src={{bulbsGif}} alt="gif image of bulbs" />
    <h1>Sawako Ishida</h1>
    <h3>Full-Stack JavaScript Developer</h3>
    <img ng-src={{imgUrl}} alt="backgroud image" />
    <span>Next</span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
    <p>Passionate and goal-oriented Full-Stack Software Developer with background in marketing. Having strong interpersonal skills, capable of ramping up quickly to new tools and technologies.</p>
  </div>
</section>
