<section id="skills"class="skills-sec col-11">
  <div class="skills-div">
    <h1 class="skills-h1">Technical Skills</h1>
    <ul>
      <li>JavaScript</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li><i class="fa fa-html5" aria-hidden="true"></i> HTML5</li>
      <li><i class="fa fa-css3" aria-hidden="true"></i> CSS3</li>
      <li>REST API</li>
      <li>jQuery</li>
      <li><i class="fa fa-database" aria-hidden="true"></i> MongoDB</li>
      <li>AngularJS</li>
      <li><i class="fa fa-code-fork" aria-hidden="true"></i> Git</li>
      <li>PHP</li>
    </ul>
  </div>
</section>
