<section class="skills-sec">
  <a href="#skills"></a>
  <h1>Technical Skills</h1>
  <ul>
    <li>JavaScript</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li><i class="fa fa-html5" aria-hidden="true"></i> HTML5</li>
    <li><i class="fa fa-css3" aria-hidden="true"></i> CSS3</li>
    <li>REST API</li>
    <li>jQuery</li>
    <li><i class="fa fa-database" aria-hidden="true"></i> MongoDB</li>
    <li>AngularJS</li>
    <li><i class="fa fa-code-fork" aria-hidden="true"></i> Git</li>
  </ul>
  <div class="book-img-div">
    <img ng-src={{bookImgUrl}} alt="html, css, javaCript books with cactus" />
  </div>
</section>
