<nav ng-if="!navControle" ng-class="!navControle ? 'nav-app-mode' : ''">
  <ul class="nav-element">
    <a href="" ng-click="jumpToHome()"><li class="home-nav">Home</li></a>
    <a href="" ng-click="jumpToIntro()"><li class="intro-nav">Intro</li></a>
    <a href="" ng-click="jumpToEducation()"><li class="edu-nav">Education</li></a>
    <a href="" ng-click="jumpToSkills()"><li class="skills-nav">Skills</li></a>
  </ul>
</nav>
<!-- <div class="star1"></div>
<div class="star2"></div>
<div class="star3"></div>
<div class="star4"></div> -->
