<nav ng-if="!navControle" ng-class="navControle ? 'col-1' : 'nav-app-mode'">
  <ul class="nav-element">
    <a href="" ng-click="jumpToHome()"><li class="home-nav">Home</li></a>
    <a href="" ng-click="jumpToIntro()"><li class="intro-nav">Intro</li></a>
    <a href="" ng-click="jumpToEducation()"><li class="edu-nav">Education</li></a>
    <a href="" ng-click="jumpToSkills()"><li class="skills-nav">Skills</li></a>
    <a href="https://github.com/ishidas" target="_blank"><li class="git-nav">GitHub</li></a>
    <a href="https://codepen.io/ishidasCP/" target="_blank"><li class="code-nav">Codepen</li></a>
  </ul>
</nav>
<div class="star1"></div>
<div class="star2"></div>
<div class="star3"></div>
<div class="star4"></div>
